@model User
@{
    ViewData["Title"] = "Profile Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
}
@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Program" asp-action="Index">
                <img src="~/images/logo.png" alt="Logo" style="height: auto; max-height: 50px; width: auto;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                   <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Library" asp-action="Index">Library</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div style="background-color: white; border-radius: 50%; width: 40px; height: 40px;">
                                <img src="@Model.ProfilePicture" alt="Profile Picture" style="height: 100%; width: 100%; border-radius: 50%;">
                            </div>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Profile" asp-action="Index">Profile</a></li>
                            @* <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li> *@
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="text-center">
    <h1 class="display-4">Profile data</h1>
    <p>welcome, @Model.FirstName  @Model.LastName</p>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">test123</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
</div>
<div class="text-center" id="profileDiv" style="display: none;">
    <p>First name: @Model.FirstName</p>
    <p>Last name: @Model.LastName</p>
    <p>Email: @Model.Email</p>
    <form asp-action="UploadProfilePicture" asp-controller="Profile" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="profilePicture">Profile Picture</label>
            <input type="file" class="form-control-file" id="profilePicture" name="profilePicture">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>