@model MVC_Vibez.Model.User
@{
	ViewData["Title"] = "Profile Page";
}

@section Styles {
	<link rel="stylesheet" type="text/css" href="~/css/Profile.css"/>
}

@await Html.PartialAsync("_Navbar", Model)
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="text-center">
				<img src="@Model.ProfilePicture" alt="pfp" style="border-radius: 50%; height: 20%; width: 20%;"/>
				<p class="FontTitle">Welcome, @Model.FirstName @Model.LastName </p>
				<div class="card Profile_card mb-3">
					<div class="card-body">
						<h5 class="card-title FontTitle">User Information</h5>
						<p class="card-text FontText">First Name: @Model.FirstName</p>
						<p class="card-text FontText">Last Name: @Model.LastName</p>
						<p class="card-text FontText">Email: @Model.Email</p>
					</div>
				</div>
				<div class="card Profile_card mb-3" style="margin-top: 20px;">
					<div class="card-body">
						<h5 class="card-title FontTitle">Song statistics</h5>
						<p class="card-text FontText">Most listened to song: </p>
						<p class="card-text FontText">Most listened to artist: </p>
						<p class="card-text FontText">Most listened to genre: </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="text-center mt-3">
	@if (TempData["ErrorMessage"] != null)
	{
		<div class="alert alert-danger" role="alert">
			@TempData["ErrorMessage"]
		</div>
	}
	<form asp-action="UploadProfilePicture" asp-controller="Profile" method="post" enctype="multipart/form-data">
		<div class="form-group" style="margin-left: 110px;">
			<label class="FontUpload" for="profilePicture">Upload a profile picture?</label>
			<input class="form-control-file FontUpload" type="file" id="profilePicture" name="profilePicture">
		</div>
		<div class="mt-2" style="margin-left: 26 px; margin-top:15px; ">
			<button  type="submit" class="btn  btn-primary">Upload</button>
		</div>

	</form>
</div>