@model MVC_Vibez.Model.ProgramPage
@{
    ViewData["Title"] = "Library";
}

@await Html.PartialAsync("_Navbar", Model.user)

<link rel="stylesheet" href="css/Library.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="playlist-container">
                    <div class="playlist-items">

                        <div class="playlist-item">
                            <div class="card playlist-card">
                                <img src="@Model.FavoritSongs.Images?[0].Url" class="card-img-top" alt="Playlist Image">
                                <div class="card-body">
                                    <h5 class="card-title">@Model.FavoritSongs.Name</h5>
                                    <img src="/images/playbutton.png" alt="Play icon" class="play-btn" data-playlist-id="@Model.FavoritSongs.Id">
                                </div>
                            </div>
                        </div>
                        @foreach (var playlist in Model.playlists)
                        {
                            <div class="playlist-item">
                                <div class="card playlist-card">
                                    <img src="@playlist.Images?[0].Url" class="card-img-top" alt="Playlist Image">
                                    <div class="card-body">
                                        <h5 class="card-title">@playlist.Name</h5>
                                        <img src="/images/playbutton.png" alt="Play icon" class="play-btn" data-playlist-id="@playlist.Id">
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.play-btn').click(function () {
            var playlistId = $(this).data('playlist-id');
            window.location.href = '@Url.Action("Index", "Program")?playlistId=' + playlistId;
        });
    });
</script>